.profile {
    padding: 10px;
  }
  .ava {
    position: relative;
  }
  .ava img {
    width: 30%;
  }
  .ava .photo {
    width: 150px;
    border-radius: 50%;
  }
  .nameBlock h3 {
    color: yellow;
  }
  .nameBlock p {
    color: yellow;
  }
  label {
    display: none;
    position: absolute;
    border-radius: 3px;
  }
  .ava:hover label{
    display: block;
    position: absolute;
    top: 130px;
    left: 20px;
  }
  label input {
    width: 115px;
  }
  .contacts {
    padding-left: 10px;
  }